<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Game Batu Gunting Kertas</title>

  <!-- CSS -->
  <link rel="stylesheet" href="css/game.css">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- Link Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>
  <form action="/game-score" method="post">
    <div class="container rounded my-3 pb-4 background">
      <div class="container p-3 my-3">
        <div class="row">
          <div class="col-12 d-flex align-items-center">
            <a href="/" class="btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                class="bi bi-chevron-left backButton" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </a>
            <img src="assets/logo 1.png" alt="Logo" class="img-fluid mx-3">
            <h3 class="fw-bold text-uppercase mx-3 d-inline" style="color: #F9B23D; letter-spacing: 3px;">rock paper
              scissors</h3>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-evenly align-items-center">
          <div class="col-4 col-sm-4 col-md-4 col-lg-3">
            <h3 class="fw-bold text-uppercase text-center" id="playerName">Player</h3>
            <div onclick="" class="my-5 p-2 rounded pilihanPlayer" id="batu">
              <img src="assets/batu.png" alt="Rock Player" class="img-fluid d-block mx-auto icon">
            </div>
            <div onclick="" class="my-5 p-2 rounded pilihanPlayer" id="gunting">
              <img src="assets/gunting.png" alt="Scissors Player" class="img-fluid d-block mx-auto icon">
            </div>
            <div onclick="" class="my-5 p-2 rounded pilihanPlayer" id="kertas">
              <img src="assets/kertas.png" alt="Paper Player" class="img-fluid d-block mx-auto icon">
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary text-uppercase">
                score <span class="badge bg-secondary" id="scorePlayer">0</span>
              </button>
            </div>
          </div>
          <div class="col-4 col-sm-3 col-md-3 col-lg-2">
            <h1 class="fw-bold text-danger text-center" id="vs">VS</h1>
            <div class="fw-bold text-white text-center bg-success bg-opacity-50 rounded" id="hasilPermainan">
              <h1>Player/COM</h1>
              <h1>Win/Draw</h1>
            </div>
          </div>
          <div class="col-4 col-sm-4 col-md-4 col-lg-3">
            <h3 class="fw-bold text-uppercase text-center">com</h3>
            <div class="my-5 p-2 rounded pilihanComputer" id="batu">
              <img src="assets/batu.png" alt="Rock Com" class="img-fluid d-block mx-auto icon">
            </div>
            <div class="my-5 p-2 rounded pilihanComputer" id="gunting">
              <img src="assets/gunting.png" alt="Scissors Com" class="img-fluid d-block mx-auto icon">
            </div>
            <div class="my-5 p-2 rounded pilihanComputer" id="kertas">
              <img src="assets/kertas.png" alt="Papper Com" class="img-fluid d-block mx-auto icon">
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-warning text-uppercase">
                score <span class="badge bg-secondary" id="scoreCom">0</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-4 col-sm-4 col-md-3 col-lg-2" id="ulang">
            <a href="#" class="btn">
              <img src="assets/refresh.png" alt="refresh" class="img-fluid icon">
            </a>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- include footer -->
  <%- include('include/game/_footer') %>
    <!-- include footer -->