<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login Here</title>
</head>

<body>
  <div class="container" id="form-login">
    <label for="uname"><b>Username</b></label>
    <input id="username" type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input id="password" type="password" placeholder="Enter Password" name="psw" required>

    <button onclick="login()" type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button onclick="cancel()" type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>


  <script src="/js/script.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    onload = () => {
      Swal.fire({
        icon: 'info',
        title: 'Welcome Buddy :)',
        text: 'Please enter your username and password!'
      })
    }
  </script>
  <script>
    function cancel() {
      window.location.href = '/'
    }

    function login() {
      let username = document.getElementById("username").value;
      let password = document.getElementById("password").value;

      if (username == '' || password == '') {
        Swal.fire(
          'Mising Field!',
          'Username and Password cant be blank!',
          'warning'
        )

      } else {
        fetch(
          '/login',
          {
            method: 'post',
            headers: { "content-type": "application/json" },
            body: JSON.stringify({ username: username, password: password })
          }
        ).then(function (response) {
          return response.json()
        }).then(function (result) {
          console.log(result, "ini hasil console log result")
          setCookie('qw3r7y', JSON.stringify(result.data), 1)

          let dataUser = JSON.parse(getCookie('qw3r7y'))
          console.log(dataUser)

          if (dataUser.username == '') {
            console.log('username not found')
            Swal.fire(
              'User data not found!',
              'Please enter the correct username or password',
              'error'
            )
          } else {
            const Toast = Swal.mixin({
              toast: true,
              position: 'top',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
              }
            })

            Toast.fire({
              icon: 'success',
              title: 'Signed in successfully'
            });

            setTimeout(() => {
              window.location.href = '/'
            }, 3500);
          }
        }).catch(function (error) {
          console.log(error)
        })
      }
    }
  </script>
</body>

</html>