<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login Here</title>
</head>

<body>
  <div class="container" id="form-login">
    <label for="uname"><b>Username</b></label>
    <input id="username" type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input id="password" type="password" placeholder="Enter Password" name="psw" required>

    <button onclick="setTimeout(login(),1000)" type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button onclick="cancel()" type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>


  <script src="/js/script.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script>
    function cancel() {
      window.location.href = '/'
    }

    function login() {
      let username = document.getElementById("username").value
      let password = document.getElementById("password").value

      if (username == '' || password == '') {
        swal({
          title: "Fields Empty!",
          text: "Please check the missing field!",
          icon: "warning",
          button: "OK",
        });

      } else {
        fetch(
          '/login',
          {
            method: 'post',
            headers: { "content-type": "application/json" },
            body: JSON.stringify({ username: username, password: password })
          }
        ).then(function (response) {
          return response.json()
        }).then(function (result) {
          console.log(result)
          setCookie('qw3r7y', JSON.stringify(result.resultData), 1)

          let dataUser = getCookie('qw3r7y')
          console.log(dataUser)
          if (dataUser.username == null) {
            console.log('user data tidak ditemukan')
            swal({
              title: "Not Found!",
              text: "Username or Password is wrong!",
              icon: "error",
              button: "OK",
            });

          } else {
            window.location.href = '/'
          }
        }).catch(function (error) {
          console.log(error)
        })
      }
    }
  </script>
</body>

</html>