<!-- Page 3 - Game Feature -->
<div class="game-feature position-relative" id="game-feature">
  <img src="assets/features.jpg" class="img-fluid w-100" alt="background-image" />
  <div class="container-fluid position-absolute game-feature-container">
    <div class="container">
      <div class="row">
        <div class="col-6 offset-6 ps-5">
          <p class="text-game-1 text-white mb-lg-3 mb-md-2 mb-sm-1">What's so special?</p>
          <p class="text-game-2 text-white text-uppercase mb-lg-5 mb-md-4 mb-sm-3">features</p>
          <div class="row">
            <div class="d-lg-block col-lg-1 d-md-none d-sm-none py-lg-1">
              <img src="assets/ellipse_white.svg" class="img-fluid mx-auto d-block" alt="icon-image" />
              <img src="assets/progress_bar.png" class="img-fluid mx-auto d-block" alt="icon-image" />
              <img src="assets/ellipse.png" class="img-fluid mx-auto d-block" alt="icon-image" />
              <img src="assets/ellipse.png" class="img-fluid mx-auto mt-5 pt-3 d-block" alt="icon-image" />
            </div>
            <div class="col-lg-11 col-md-12 col-sm-12">
              <p class="text-game-1 text-warning text-uppercase mb-lg-3 mb-md-2 mb-sm-1">traditional games</p>
              <p class="text-game-3 text-white mb-lg-5 mb-md-4 mb-sm-3">if you miss your childhood, we provide many
                traditional games here</p>
              <p
                class="text-game-1 text-warning text-uppercase mb-lg-5 mb-md-3 mb-sm-1 pt-xl-4 pt-lg-3 pt-md-2 pt-sm-1">
                game suit</p>
              <p class="text-game-1 text-warning text-uppercase pt-1">tbd</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page 3 - Game Feature -->