<!-- Page 4 - System Req -->
<div class="system-req position-relative" id="system-req">
  <img src="assets/requirements.png" class="img-fluid w-100" alt="background-image" />
  <div class="position-absolute start-50 translate-middle system-req-header">
    <p class="text-game-4 text-center text-white">Can My Computer Run this Game ?</p>
  </div>
  <div class="container-fluid position-absolute system-req-container">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <p
                class="text-game-2 text-white text-uppercase mb-xl-4 pb-xl-3 mb-lg-3 pb-lg-2 mb-md-3 pb-md-2 mb-sm-3 pb-sm-2">
                system requirements</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-3 col-sm-3 border p-xl-3 p-lg-2 pd-md-2 p-sm-1">
              <p class="text-game-1 text-warning text-uppercase mb-1">os</p>
              <p class="text-game-3 text-white">Windows 7 64-bit only (No OSX support at this time)</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-3 col-sm-3 border p-xl-3 p-lg-2 p-md-2 p-sm-1">
              <p class="text-game-1 text-warning text-uppercase mb-1">processor</p>
              <p class="text-game-3 text-white">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-3 col-sm-3 border p-xl-3 p-lg-2 p-md-2 p-sm-1">
              <p class="text-game-1 text-warning text-uppercase mb-1">memory</p>
              <p class="text-game-3 text-white">4 GB RAM</p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-3 col-sm-3 border p-xl-3 p-lg-2 p-md-2 p-sm-1">
              <p class="text-game-1 text-warning text-uppercase mb-1">storage</p>
              <p class="text-game-3 text-white">8 GB available space</p>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 border p-xl-3 p-lg-2 p-md-2 p-sm-1">
              <p class="text-game-1 text-warning text-uppercase mb-1">graphics</p>
              <p class="text-game-3 text-white">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader
                Model 5)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page 4 - System Req -->