<div class="col-md-3 col-sm-1 text-white" title="Password">
  <label for="password" class="form-label">Password</label>
  <input type="password" class="form-control" id="myInput" onkeyup="check()" required>
  <input type="checkbox" onclick="myFunction()"> Show Password
  <div class="invalid-feedback">
    Please input a valid password.
  </div>
</div>

<div class="col-md-3 col-sm-1 text-white" title="Confirm Password">
  <label for="confirmPassword" class="form-label">Confirm Password</label>
  <input type="password" class="form-control" id="myInputConfirm" onkeyup="check()" required>
  <span id='message'></span>
  <div class="invalid-feedback">
    Please input a valid confirm password.
  </div>
</div>